notebook
jupyterlab
ipywidgets
jupyter-lsp
python-dotenv
jupyterlab-lsp
jedi-language-server
jupyter_contrib_nbextensions
jupyter_nbextensions_configurator

numpy
pandas
seaborn
yfinance
matplotlib
statsmodels
scikit-learn